$primary-color-dark: #388e3c;
$primary-color: #8BC34A;
$primary-color-light: #c8e6c9;
$primary-color-text: #ffffff;
$accent-color: #536dfe;
$black-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$red-color: #f44336;